<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="static/bootstrap.css" title="Bootstrap Cyborg">
    <link type="text/css" rel="stylesheet" href="static/google..css">
  </head>
  <body style="                  min-height: 100%; margin: 0;">
    <div class="container-lg">
      <div class="row align-items-center vh-100">
        <div class="col-6 mx-auto">
          <div class="card">
            <div class="card-body d-flex flex-column align-items-center"> <img

                class="card-img-top" src="static/page_icon.png" alt="Card image cap">
              <div class="card-body btn-outline-primary">
                <h5 class="card-title" style="text-align: center;">Welcome to
                  the Elderily application!</h5>
                <p class="card-text" style="text-align: center;">To get started,
                  please login with your google account.</p>
                <a href="/login"><button type="button" class="login-with-google-btn">
                    Sign in with Google<br>
                  </button></a> </div>
              <p> or </p>
              <a href="https://accounts.google.com/signup/v2/webcreateaccount?biz=false&amp;cc=SG&amp;continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F27441%3Fhl%3Den&amp;dsh=S-1459135010%3A1677879318209598&amp;flowEntry=SignUp&amp;flowName=GlifWebSignIn&amp;hl=en&amp;ifkv=AWnogHdH06NxKJNUjSseLu465OeZl20yZOXlFGRvu_EHxvdhAKH3SiHB957wPo7ncMfao2aRK3Hu"><button

                  type="button" class="login-with-google-btn"> Create a Google
                  account </button></a> </div>
          </div>
        </div>
      </div>
    </div>
    <div> <br>
    </div>
    <style>body {
  background-image: url('static/black_background.jpg') ;
        background-size: cover;
}</style>
    <footer>
      <div style="text-align: center;" >
        <table style="width: 100%; bottom:0" id="footer" border="1">
          <tbody>
            <tr>
              <td class="bg-secondary"><img src="static/NUS-logo.png" alt="NIL"

                  title="NUS logo" style="width: 453px; height: 99px;"></td>
              <td class="bg-secondary"><span style="color: white;" class="align-items-xl-center">Copyright
                  2023 All right reserved to NUS</span></td>
              <td class="bg-secondary"><span style="color: white;" class="align-items-xl-center"></span><img

                  src="static/google-cloud-run.png" alt="cloud run" title="cloud run"

                  longdesc="This application is powered by cloud run" style="width: 44px; height: 39px;">
                <span style="color: white;">Powered by Google Cloud Run</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </footer>
  </body>
</html>
